albumentations==1.4.8
anomalib==0.4.0
comet_ml==3.43.1
FrEIA==0.2
FrEIA==0.2
gradio==4.42.0
imgaug==0.4.0
jsonargparse==4.30.0
kornia==0.6.9
matplotlib==3.9.2
numpy==2.1.0
omegaconf==2.3.0
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
openvino==2024.3.0
pandas==2.2.2
pytorch_lightning==1.9.5
PyYAML==6.0.2
PyYAML==6.0.2
scikit_learn==1.5.1
scipy==1.14.1
skimage==0.0
torch==2.3.1+cu118
torchmetrics==0.10.3
torchvision==0.18.1+cu118
tqdm==4.66.4
